---
import logo from "../gambar/Logo Jelajah Malang.png";
import { Image } from "astro:assets";
---

<style>
    .judul {
        font-family: "Caveat", cursive;
    }
</style>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
    href="https://fonts.googleapis.com/css2?family=Caveat&display=swap&text=JelajahMalang"
    rel="stylesheet"
/>

<div class="justify-center flex">
    <div class="flex items-center gap-5">
        <a href="#/">
            <Image src={logo} alt={""} width={300} />
        </a>
        <div>
            <h1 class="text-[80px] judul"><a href="#/">Jelajah Malang</a></h1>
            <p>Seru-seruan jelajahi Malang dengan berjalan kaki</p>
        </div>
    </div>
</div>
