---
import logo from "../gambar/Logo Jelajah Malang.png";
import { Image } from "astro:assets";
---

<div class="justify-center sm:flex">
    <div class="sm:flex items-center gap-5" hx-boost="true">
        <a href="/">
            <Image
                src={logo}
                alt={""}
                class="w-[100px] sm:w-[300px] mx-auto"
                width={300}
            />
        </a>
        <div>
            <h1 class="text-[20px] sm:text-[80px] judul caveat">
                <a href="/">Jelajah Malang</a>
            </h1>
            <p>Seru-seruan jelajahi Malang dengan berjalan kaki</p>
        </div>
    </div>
</div>
