---
let label = ["jalan-jalan", "buku", "travel"];
---

<div class="bg-orange-300 top-0 sticky">
    <div class="block px-5 py-3 sm:hidden">
        <select
            onchange="
            location.href = `#/${this.value}`
            "
            class="w-full p-2"
        >
            {
                label.map((x) => {
                    return <option>{x}</option>;
                })
            }
        </select>
    </div>
    <div class="hidden sm:block">
        {
            label.map((x) => {
                return (
                    <a
                        class="px-5 py-3 hover:bg-orange-500 hover:text-white inline-block"
                        href={"#/" + x}
                    >
                        {x}
                    </a>
                );
            })
        }
    </div>
</div>
