---

---

<div hx-boost="true">
    {
        [1, 2, 3, 4, 5].map((x) => (
            <a href="/" class="kotak-list-konten">
                <img
                    class="w-[100px] rounded-lg shadow aspect-square object-cover"
                    src="/gambar/1.jpg"
                    alt=""
                />
                <div class="ringkasan-konten">
                    <h2 class="font-bold text-lg">Hello World</h2>
                    <p>Ini adalah isinya...</p>
                </div>
            </a>
        ))
    }
</div>
