extends base.pug 

block isi
  style
    :stylus
      .tombol
        display inline-block
        margin 0 3px 3px 0
  div(v-scope @vue:mounted="init")
    .m-3 
      .btn.btn-primary(@click='tambah') New

      .my-3
        a.tombol.btn.btn-success(v-for="x in list" :href="`editor.html?${x.id}`") {{x.judul}}
  script
    :coffee
      PetiteVue.createApp({
        list: []
        init: ->
          if localStorage.data_coffee
            @list = JSON.parse localStorage.data_coffee
        tambah: ->
          {value} = await Swal.fire
            inputLabel: 'Add new app'
            input: 'text'
          
          if value
            data = localStorage.data_coffee
            data_baru =
              id: Math.random()
              judul: value
            
            if data
              data = JSON.parse data
              data = [
                data_baru
                data...
              ]
              
              @list = data
              localStorage.data_coffee = JSON.stringify data
            else
              @list = [data_baru]
              localStorage.data_coffee = JSON.stringify [data_baru]
      }).mount()