---
const { teks_1, teks_2 } = Astro.props;
---

<div class="text-center p-[50px] sm:p-[80px]">
  <a href="/isi">
    <div class="uppercase font-bold">{teks_1}</div>
    <div class="">
      {teks_2}
    </div>
  </a>
</div>
