<b:widget id="Image1" locked="false" title="gambar header" type="Image">
  <b:widget-settings>
    <b:widget-setting name="displayUrl"
      >https://raw.githubusercontent.com/mzaini30/jelajah-malang-static/master/things-to-do-malang-java-header-1440x1440.0b83f574_2ovx2L.webp</b:widget-setting
    >
    <b:widget-setting name="displayHeight">680</b:widget-setting>
    <b:widget-setting name="sectionWidth">1076</b:widget-setting>
    <b:widget-setting name="shrinkToFit">false</b:widget-setting>
    <b:widget-setting name="displayWidth">680</b:widget-setting>
    <b:widget-setting name="link" />
    <b:widget-setting name="caption" />
  </b:widget-settings>
  <b:includable id="main">
    <img
      expr:src="data:sourceUrl"
      expr:alt="data:title"
      class="h-screen object-cover"
      expr:width="data:width"
      expr:height="data:height"
      loading="lazy"
      decoding="async"
    />
  </b:includable>
</b:widget>
