---
import MenuAtas from "../komponen/menu-atas.astro";
import Judul from "../komponen/judul.astro";
import Slider from "../komponen/slider.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Jelajah Malang</title>
  </head>
  <body>
    <MenuAtas />
    <Judul />
    <Slider />
  </body>
</html>
