<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kerjaan</title>
    <link rel="icon" href="./Desain_tanpa_judul-removebg-preview.png">
    <link rel="stylesheet" href="./gpm/mzaini30/library-yang-sering-digunakan/css/reset.css">
    <link rel="stylesheet" href="./uno.css">
    <script src="./gpm/mzaini30/library-yang-sering-digunakan/js/petite-vue.iife.js"></script>
    <script src="./gpm/mzaini30/library-yang-sering-digunakan/js/htmx.min.js"></script>
</head>

<body>
    <div class="min-h-screen bg-gray-100">
        <div class="p-5">
            <div class="aplikasi" @vue:mounted="mounted">
                <div class="grid grid-cols-4 gap-5">
                    <div v-for="x, n in data" class="border rounded shadow p-5 bg-white ">
                        <div class="pb-3">
                            {{x}}
                        </div>
                        <div class="flex justify-between [&_button]:text-sm  [&_button]:text-white [&_button]:px-4 [&_button]:py-2 [&_button]:rounded"
                            v-if="n == 0">
                            <button class="bg-gray-500" @click="tunda">Tunda</button>
                            <button class="bg-green-500" @click="selesai">Selesai</button>
                        </div>
                    </div>
                </div>
            </div>
            <script>
                PetiteVue.createApp({
                    data: [],
                    mounted() {
                        if (localStorage.data) {
                            this.data = JSON.parse(localStorage.data);
                        }
                        addEventListener('storage', () => this.data = JSON.parse(localStorage.data));
                    },
                    tunda() {
                        this.data = [...this.data.slice(1), this.data[0]];
                        localStorage.data = JSON.stringify(this.data);
                    },
                    selesai() {
                        this.data = [...this.data.slice(1)];
                        localStorage.data = JSON.stringify(this.data);
                    }
                }).mount('.aplikasi')
            </script>
        </div>
        <div class="fixed bottom-5 right-5">
            <div class="aplikasi-tombol" @vue:mounted="mounted">
                <center>
                    <div class="text-sm font-bold">F2</div>
                </center>
                <button class="" @click="tambah_baru" hx-get="./komponen/tombol.html" hx-trigger="load"></button>
            </div>
            <script>
                PetiteVue.createApp({
                    mounted() {
                        document.addEventListener('keydown', (event) => {
                            // Mengecek apakah tombol yang ditekan adalah F2 (kode tombol F2 adalah 113)
                            if (event.keyCode === 113) {
                                // Memanggil fungsi olah() jika F2 ditekan
                                this.tambah_baru();
                            }
                        });
                    },
                    tambah_baru() {
                        let kerjaan_baru = prompt('Masukkan nama kerjaan baru:');
                        if (kerjaan_baru) {
                            let data = [];
                            if
                                (localStorage.data) {
                                data = JSON.parse(localStorage.data);
                            }
                            data = [...data, kerjaan_baru];
                            localStorage.data = JSON.stringify(data);
                            dispatchEvent(new Event('storage'));
                        }
                    }
                }).mount('.aplikasi-tombol')
            </script>
        </div>
    </div>
</body>

</html>