---
import Template from "../template/default.astro";
---

<Template>
  <div class="prose max-w-[80%] sm:max-w-[60%] mx-auto">
    <h1>Ini Judul</h1>
    <p>Ini isi</p>
    <ol>
      <li>Ini isi 1</li>
      <li>Ini isi 2</li>
      <li>Ini isi 3</li>
    </ol>
    <p>Hai...</p>
  </div>
</Template>
